$bp-medium: 700px;
$bp-small: 500px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html{
    box-sizing: border-box;
    font-size: 100%;

    @media only screen and (max-width:$bp-medium){
        font-size: 87.5%;
    }

    @media only screen and (max-width:$bp-small){
        font-size: 75%;
    }
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #000;
    font-size: .938rem;
    line-height: 1.5;
    padding-top: 1.875rem;
}

ul{
    list-style-type: none;
}

a{
    color: #262626;
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 68.75rem;
    margin: auto;
}

.dark{
    color: #fff;
}

.dark .btn{
    background: #f4f4f4;

    color: #333;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: .625rem 1.25rem;
    background: #262626;
    color: #fff;
    font-size: 1.2rem;

    &:hover{
        opacity: 0.9;
    }
}

.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 2;
    display: none;

    @media only screen and (max-width:$bp-medium){
            display: block;
    }
    &:hover{
        opacity: 0.5;
    }
}