.links{
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;

    &__inner{
        max-width: 68.75rem;
        margin: 0 auto;
        padding: 0 1.25rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: .625rem;
        align-items: flex-start;
        justify-content: center;

        & ul{
            @media only screen and (max-width:$bp-medium){
                margin-bottom: 1.25rem;
            } 
        }

        @media only screen and (max-width:$bp-medium){
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width:$bp-medium){
            grid-template-columns: 1fr;
        }
    }
    & li{
        line-height: 2.8;
    }
}